<div class="d-flex justify-content-center pt-5">
    <div class="col-4">

        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                       
                    <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
                    <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

                    <div class="d-grid">
                        <button [disabled]="loginForm.invalid" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                            in</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    
</div>