<div class="card shadow-sm">
  <img src="{{product.pictureUrl}}" alt="{{product.name}} " class="bg-light">




    <div class="card-body">

      <a routerLink="/shop/{{product.id}}"><h6 class="text-uppercase">{{product.name}}</h6></a>
      <span >{{product.price | currency}}</span>

      <div class="d-flex justify-content-between align-items-center ">
        <div class="btn-group mt" style="width: 100%;">
          <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
          <button type="button" routerLink="/shop/{{product.id}}" class="btn btn-outline-secondary " >View</button>
        </div>
       
      </div>
    </div>
  </div>